<table class="table">
    <thead>
    <tr>
        <th>Among total population</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ subjectsNumber }}</td>
    </tr>
    <tr>
        <td>Percent of consumption</td>
        <td></td>
    </tr>
    <tr>
        <td>Mean consumption</td>
        <td>{{ populationMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD</td>
        <td>{{ populationStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10</td>
        <td>{{ percentilePopulation_101 }}</td>
    </tr>
    <tr>
        <td>P25</td>
        <td>{{ percentileConsumer_26 }}</td>
    </tr>
    <tr>
        <td>P50</td>
        <td>{{ percentilePopulation_51 }}</td>
    </tr>
    <tr>
        <td>P75</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>    <tr>
        <td>P90</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>    <tr>
        <td>Other percentile</td>
        <td>{{  consumersMeanConsumption}}</td>
    </tr>
    <tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Among consumers</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ subjectsNumber }}</td>
    </tr>
    <tr>
        <td>Percent of consumption</td>
        <td></td>
    </tr>
    <tr>
        <td>Mean consumption</td>
        <td>{{ populationMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD</td>
        <td>{{ populationStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10</td>
        <td>{{ percentilePopulation_101 }}</td>
    </tr>
    <tr>
        <td>P25</td>
        <td>{{ percentileConsumer_26 }}</td>
    </tr>
    <tr>
        <td>P50</td>
        <td>{{ percentilePopulation_51 }}</td>
    </tr>
    <tr>
        <td>P75</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>    <tr>
        <td>P90</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>    <tr>
        <td>Other percentile</td>
        <td>{{  consumersMeanConsumption}}</td>
    </tr>
    <tbody>
</table>