<table class="table">
    <tbody>
    <tr>
        <td>Resume</td>
        <td>{{ subjectsNumber }}</td>
    </tr>
    <tr>
        <td>Thornton</td>
        <td>{{ consumersNumber }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ totalConsumedQuantity }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ foodConsumedQuantity }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ foodConsumedPercentage }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ populationMinConsumption }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ populationMaxConsumption }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ populationMeanConsumption }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>    <tr>
        <td>the Bird</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>    <tr>
        <td>the Bird</td>
        <td>{{  consumersMeanConsumption}}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ populationStandardDeviation }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ consumersStandardDeviation }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ percentilePopulation_51 }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ percentilePopulation_101 }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ percentilePopulation_201 }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{ percentileConsumer_26 }}</td>
    </tr>
    <tr>
        <td>the Bird</td>
        <td>{{percentileConsumer_51  }}</td>
    </tr>    <tr>
        <td>the Bird</td>
        <td>{{  percentileConsumer_101}}</td>
    </tr>    <tr>
        <td>the Bird</td>
        <td>{{  percentileConsumer_202}}</td>
    </tr>    <tr>
        <td>the Bird</td>
        <td>{{  percentileConsumer_227}}</td>
    </tr>
    <tbody>
</table>