<table class="table">
    <thead>
    <tr>
        <th>Among total population (expressed in grams)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ subjectsNumber }}</td>
    </tr>
    <tr>
        <td>Percent of consumption</td>
        <td>{{ foodConsumedPercentage }}</td>
    </tr>
    <tr>
        <td>Mean consumption</td>
        <td>{{ populationMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum</td>
        <td>{{ populationMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum</td>
        <td>{{ populationMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD</td>
        <td>{{ populationStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10</td>
        <td>{{ percentilePopulation_10 }}</td>
    </tr>
    <tr>
        <td>P25</td>
        <td>{{ percentilePopulation_25 }}</td>
    </tr>
    <tr>
        <td>P50</td>
        <td>{{ percentilePopulation_50 }}</td>
    </tr>
    <tr>
        <td>P75</td>
        <td>{{ percentilePopulation_75 }}</td>
    </tr>
    <tr>
        <td>P90</td>
        <td>{{ percentilePopulation_90 }}</td>
    </tr>
    <tr>
        <td>P95</td>
        <td>{{ percentilePopulation_95 }}</td>
    </tr>
    <tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Among consumers (expressed in grams)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ consumersNumber }}</td>
    </tr>
    <tr>
        <td>Mean consumption</td>
        <td>{{ consumersMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD</td>
        <td>{{ consumersStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10</td>
        <td>{{ percentileConsumer_10 }}</td>
    </tr>
    <tr>
        <td>P25</td>
        <td>{{ percentileConsumer_25 }}</td>
    </tr>
    <tr>
        <td>P50</td>
        <td>{{ percentileConsumer_50 }}</td>
    </tr>
    <tr>
        <td>P75</td>
        <td>{{ percentileConsumer_75 }}</td>
    </tr>
    <tr>
        <td>P90</td>
        <td>{{ percentileConsumer_90 }}</td>
    </tr>
    <tr>
        <td>P95</td>
        <td>{{  percentileConsumer_95}}</td>
    </tr>
    <tbody>
</table>