<table class="table">
    <thead class="codebook-header">
    <tr>
        <th>Among the whole selected sample</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ subjectsNumber }}</td>
    </tr>
    <tr>
        <td>Percent of consumers ( % )</td>
        <td>{{ foodConsumedPercentage }}</td>
    </tr>
    <tr>
        <td>Mean consumption ( g )</td>
        <td>{{ populationMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum ( g )</td>
        <td>{{ populationMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum ( g )</td>
        <td>{{ populationMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD ( g )</td>
        <td>{{ populationStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10 ( g )</td>
        <td>{{ percentilePopulation_10 }}</td>
    </tr>
    <tr>
        <td>P25 ( g )</td>
        <td>{{ percentilePopulation_25 }}</td>
    </tr>
    <tr>
        <td>P50 ( g )</td>
        <td>{{ percentilePopulation_50 }}</td>
    </tr>
    <tr>
        <td>P75 ( g )</td>
        <td>{{ percentilePopulation_75 }}</td>
    </tr>
    <tr>
        <td>P90 ( g )</td>
        <td>{{ percentilePopulation_90 }}</td>
    </tr>
    <tr>
        <td>P95 ( g )</td>
        <td>{{ percentilePopulation_95 }}</td>
    </tr>
    <tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Among consumers in the selected sample</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>N</td>
        <td>{{ consumersNumber }}</td>
    </tr>
    <tr>
        <td>Mean consumption ( g )</td>
        <td>{{ consumersMeanConsumption }}</td>
    </tr>

    <tr>
        <td>Minimum ( g )</td>
        <td>{{ consumersMinConsumption }}</td>
    </tr>
    <tr>
        <td>Maximum ( g )</td>
        <td>{{ consumersMaxConsumption }}</td>
    </tr>
    <tr>
        <td>SD ( g )</td>
        <td>{{ consumersStandardDeviation }}</td>
    </tr>
    <tr>
        <td>P10 ( g )</td>
        <td>{{ percentileConsumer_10 }}</td>
    </tr>
    <tr>
        <td>P25 ( g )</td>
        <td>{{ percentileConsumer_25 }}</td>
    </tr>
    <tr>
        <td>P50 ( g )</td>
        <td>{{ percentileConsumer_50 }}</td>
    </tr>
    <tr>
        <td>P75 ( g )</td>
        <td>{{ percentileConsumer_75 }}</td>
    </tr>
    <tr>
        <td>P90 ( g )</td>
        <td>{{ percentileConsumer_90 }}</td>
    </tr>
    <tr>
        <td>P95 ( g )</td>
        <td>{{  percentileConsumer_95}}</td>
    </tr>
    <tbody>
</table>