<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-4"><h1>Compare Data</h1></div>
    <div class="col-md-8">
      {{#each im}}
      <img src="{{im}}"  class="thumbnail" width="40" height="40" style="display: inline-block;"/>
      {{/each}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-text">
        <!--<h2 class="card-title">Domains</h2>-->
        <div class="panel-group" id="accordion" aria-multiselectable="true">
          {{#each subDomainItems}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="font-weight: bold;">
                <a class="element" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" style="text-transform: none;">
                  {{[0].title.[EN]}}<i class="indicator glyphicon glyphicon-menu-down  pull-right" style="display: inline-block;"></i></a>
                </h4>
              </div>
              {{#if @first}}
              <div id="collapse{{@index}}" class="panel-collapse collapse in">
                <ul class="list-group">
                  {{#each [0].children}}
                  <a class="indicator"><li id="elements_{{code}}" value="{{code}}" class="list-group-item">{{title.[EN]}}</li></a>
                  {{/each}}
                </ul>
              </div>
              {{else}}
              <div id="collapse{{@index}}" class="panel-collapse collapse">
                <ul class="list-group">
                  {{#each [0].children}}
                  <a class="indicator"><li id="elements_{{code}}" value="{{code}}" class="list-group-item">{{title.[EN]}}</li></a>
                  {{/each}}
                </ul>
              </div>
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <br></br>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-text">
          <!--<h2 class="card-title">Data Selectors</h2>-->
          <br>
          <div id="indicator_name"></div>
          <div class="container-fluid">
            <div id="data">
              <div class="row">
                <div class="col-md-6">
                  <h5>Indicator</h5>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="indicatorFamilies"></div>
                    </div>
                    <div class="panel-footer">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="elements_selector">
                    <h5>Series</h5>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="data_elements"></div>
                      </div>
                      <div class="panel-footer">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <h5>Country A</h5>
                  <div class="panel-group" id="accordion2" aria-multiselectable="true">
                    {{#each countries}}
                    <div class="panel panel-info">
                      <div class="panel-heading-info">
                        <h4 class="panel-title">
                          {{#if title.[EN]}}
                          <div class="radio-inline">
                            <input type="radio" id="{{code}}" name = "countryA" value="{{title.[EN]}}"/>
                            <a id="country_element" data-toggle="collapse" data-parent="#accordion2" href="#collapse_countriesA{{@index}}" style="text-transform: none;">
                              <label>{{title.[EN]}}</label>
                            </a>
                          </div>
                          {{else}}
                          <div class="radio-inline">
                            <input type="radio"  id="{{[0].code}}" name = "countryA" value="{{[0].title.[EN]}}"/>
                            <a id="country_element" data-toggle="collapse" data-parent="#accordion2" href="#collapse_countriesA{{@index}}" style="text-transform: none;">
                              <label>{{[0].title.[EN]}}</label>
                            </a>
                          </div>
                          {{/if}}
                        </h4>
                      </div>
                      {{#if @first}}
                      <div id="collapse_countriesA{{@index}}" class="panel-collapse collapse in">
                        <ul class="list-group-info">
                          {{#if children}}
                          {{#each children}}
                          <li class="list-group-item-info">
                            <div class="radio-inline">
                              <label>
                                <input type="radio"  id="{{code}}" name = "countryA" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                          </li>
                          {{/each}}
                          {{else}}
                          {{#each [0].children}}
                          <li class="list-group-item-info">
                            {{#if title.[EN]}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{code}}" name = "countryA" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                            {{else}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{[0].code}}" name = "countryA" value="{{[0].title.[EN]}}"/>
                                {{[0].title.[EN]}}
                              </label>
                            </div>
                            {{/if}}
                          </li>
                          {{/each}}
                          {{/if}}
                        </ul>
                      </div>
                      {{else}}
                      <div id="collapse_countriesA{{@index}}" class="panel-collapse collapse">
                        <ul class="list-group-info">
                          {{#if children}}
                          {{#each children}}
                          <li class="list-group-item-info">
                            <div class="radio-inline">
                              <label>
                                <input type="radio"  id="{{code}}" name = "countryA" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                          </li>
                          {{/each}}
                          {{else}}
                          {{#each [0].children}}
                          <li class="list-group-item-info">
                            {{#if title.[EN]}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{code}}" name = "countryA" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                            {{else}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{[0].code}}" name = "countryA" value="{{[0].title.[EN]}}"/>
                                {{[0].title.[EN]}}
                              </label>
                            </div>
                            {{/if}}
                          </li>
                          {{/each}}
                          {{/if}}
                        </ul>
                      </div>
                    {{/if}}
                    </div>
                    {{/each}}
                    <div class="panel-footer"></div>
                  </div>
                  <br></br>
                </div>
                <div class="col-md-4">
                  <h5>Country B</h5>
                  <div class="panel-group" id="accordion3" aria-multiselectable="true">
                    {{#each countries}}
                    <div class="panel panel-info">
                      <div class="panel-heading-info">
                        <h4 class="panel-title">
                          {{#if title.[EN]}}
                          <div class="radio-inline">
                            <input type="radio" id="{{code}}" name = "countryB" value="{{title.[EN]}}"/>
                            <a id="country_element" data-toggle="collapse" data-parent="#accordion3" href="#collapse_countriesB{{@index}}" style="text-transform: none;">
                              <label>{{title.[EN]}}</label>
                            </a>
                          </div>
                          {{else}}
                          <div class="radio-inline">
                            <input type="radio"  id="{{[0].code}}" name = "countryB" value="{{[0].title.[EN]}}"/>
                            <a id="country_element" data-toggle="collapse" data-parent="#accordion3" href="#collapse_countriesB{{@index}}" style="text-transform: none;">
                              <label>{{[0].title.[EN]}}</label>
                            </a>
                          </div>
                          {{/if}}
                        </h4>
                      </div>
                      {{#if @first}}
                      <div id="collapse_countriesB{{@index}}" class="panel-collapse collapse in">
                        <ul class="list-group-info">
                          {{#if children}}
                          {{#each children}}
                          <li class="list-group-item-info">
                            <div class="radio-inline">
                              <label>
                                <input type="radio"  id="{{code}}" name = "countryB" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                          </li>
                          {{/each}}
                          {{else}}
                          {{#each [0].children}}
                          <li class="list-group-item-info">
                            {{#if title.[EN]}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{code}}" name = "countryB" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                            {{else}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{[0].code}}" name = "countryB" value="{{[0].title.[EN]}}"/>
                                {{[0].title.[EN]}}
                              </label>
                            </div>
                            {{/if}}
                          </li>
                          {{/each}}
                          {{/if}}
                        </ul>
                      </div>
                      {{else}}
                      <div id="collapse_countriesB{{@index}}" class="panel-collapse collapse">
                        <ul class="list-group-info">
                          {{#if children}}
                          {{#each children}}
                          <li class="list-group-item-info">
                            <div class="radio-inline">
                              <label>
                                <input type="radio"  id="{{code}}" name = "countryB" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                          </li>
                          {{/each}}
                          {{else}}
                          {{#each [0].children}}
                          <li class="list-group-item-info">
                            {{#if title.[EN]}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{code}}" name = "countryB" value="{{title.[EN]}}"/>
                                {{title.[EN]}}
                              </label>
                            </div>
                            {{else}}
                            <div class="radio-inline">
                              <label>
                                <input type="radio"   id="{{[0].code}}" name = "countryB" value="{{[0].title.[EN]}}"/>
                                {{[0].title.[EN]}}
                              </label>
                            </div>
                            {{/if}}
                          </li>
                          {{/each}}
                          {{/if}}
                        </ul>
                      </div>
                      {{/if}}
                    </div>
                    {{/each}}
                    <div class="panel-footer"></div>
                  </div>
                  <br></br>
                </div>
                <div class="col-md-4">
                  <h5>Year / Years</h5>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      {{#each years}}
                      <div class="checkbox">
                        <label>
                          <input id="{{Year}}" type="checkbox" name="year" value="{{Year}}"/>
                          {{Year}}
                        </label>
                      </div>
                      {{/each}}
                    </div>
                    <div class="panel-footer">
                      <a id ="selectAll" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-ok-circle"></span> &nbsp;Select All</a>
                        <a id ="clearAll" class="btn btn-danger btn-block">
                          <span class="glyphicon glyphicon-remove-circle"></span> &nbsp; Clear All</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-text">
              <h2 class="card-title">Selected Data Options</h2>
              <div class="container-fluid">
                <table>
                  <tr>
                    <td class="col-md-1"><h3 class="card-subtitle">Indicator :</h3></td>
                    <td class="col-md-7"><div id="indicator"></div></td>
                  </tr>
                  <tr>
                    <td class="col-md-1"><h3 class="card-subtitle"> Countries :</h3></td>
                    <td class="col-md-7">
                      <div id="countryItemsA" style="display:inline-block"></div>
                      <div id="countryItemsB" style="display:inline-block"></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-md-1"><h3 class="card-subtitle">Years :</h3></td>
                    <td class="col-md-7"><div class="yearItems"></div></td>
                  </tr>
                  <tr>
                    <td class="col-md-1"><h3 class="card-subtitle">Element :</h3></td>
                    <td class="col-md-7"><div class="elementItems"></div></td>
                  </tr>
                </table>
                <div class="col-md-4 pull-right">
                  <a id ="getData" class="btn btn-info btn-block">
                    Compare Data
                  </a>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-text">
        <h2 class="card-title">Results</h2>
        <div id="graph_title" class="card-title" style="font-size: 15px;text-align: left; display:inline-block;"></div>
        <div class="col-md-4 pull-right">
          <div class="chartOptions"></div>
        </div>
        <div class="container-fluid">
          <div id="graph"></div>
          <br></br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-text">
        <h2 class="card-title">Data Table</h2>
        <div class="container-fluid">
          <div class="dataDesc">
          </div>
          <div id="dataContainer"></div>
          <br><br>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
