<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/disaster.png"  class="thumbnail" alt="disasater"  width="100" height="100"/></div>
    <div class="col-md-11"><h1 style="font-weight: bold; text-transform: none;">&emsp;{{title}}</h1></div>
  </div>
</div>
<div class="col-md-4">
  <h2 style="font-weight: bold; text-transform: none;">Sub Domains</h2>

  <div class="panel-group" id="accordion" aria-multiselectable="true">
    {{#each subDomainItems}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="element" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" style="text-transform: none;">
          {{[0].title.[EN]}}<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
        </h4>
      </div>
      {{#if @first}}
      <div id="collapse{{@index}}" class="panel-collapse collapse in">
         <ul class="list-group">
           {{#each [0].children}}
              <li class="list-group-item">{{title.[EN]}}</li>
           {{/each}}
         </ul>
       </div>
      {{else}}
      <div id="collapse{{@index}}" class="panel-collapse collapse">
         <ul class="list-group">
           {{#each [0].children}}
              <li class="list-group-item">{{title.[EN]}}</li>
           {{/each}}
         </ul>
       </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
<br><br><br><br>
</div>

<div class="col-md-8">
  <h2 style="font-weight: bold; text-transform: none;">Extra Information</h2>
  <div class="container">
  </div>
</div>
