<h1 class="main-title">{{home_welcome_title}}</h1><h2 class="prototype">PROTOTYPE</h2>

<div class="row">

    <!-- Slider section-->
    <div class="col-sm-6">
        <section class="gift-containers-sliders-home">


            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {{#each slides}}
                        <li data-target="#carousel-example-generic"
                            data-slide-to={{isI18n data_link}} class={{isI18n active_link}}></li>
                    {{/each}}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {{#each slides}}
                        <div class="{{{ isI18n class_item }}}">


                            <div style="background-image: url({{isI18n src}})" class="home-gallery-item"></div>

                            <div class="carousel-caption">

                            </div>
                        </div>
                    {{/each}}

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

        </section>
    </div>

    <!-- Fast link section-->
    <div class="col-sm-6">
        <section class="fast-link-container gift-containers-sliders-home">
            <div class="fast-link-header gift-headers-home"><h3 class="slider-header title"><span
                    class="icojam_flash2"></span> {{fast_link_title}}</h3>
            </div>
            <div class="fast-link-holder gift-holders-home">
                <div class="row">
                    <div class="col-sm-6 home-tiles food-cons">
                        <a href="{{  link_food_consumption }}"
                           target="_blank"><h2><span class="icojam_plate_1"> </span><br> {{  title_food_consumption }}
                        </h2></a>
                    </div>
                    <div class="col-sm-6  home-tiles food-safe">
                        <a href="{{  link_food_safety }}"
                           target="_blank"><h2><span class="icojam_chemistry_2"></span> <br> {{  title_food_safety }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6  home-tiles food-nutr">
                        <a href="{{  link_food_nutrition }}"
                           target="_blank"><h2><span class="growing-ico"></span> {{  title_food_nutrition }}</h2>
                        </a>
                    </div>
                    <div class="col-sm-6  home-tiles food-envi ">
                        <a href="{{  link_food_environment }}"
                           target="_blank" class="coming"><h2><span class="icojam_geography_globe"></span>
                            <br> {{  title_food_environment }}</h2></a>
                    </div>
                </div>
            </div>
            <div class="fast-link-footer gift-footer-home"></div>
        </section>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-6">
        <!-- Db updates section -->
        <section class="db-updates-container gift-containers-home">
            <div class="db-updates-header gift-headers-home">
                <h3 class="title">{{database_update_title}}</h3>
            </div>
            <div class="db-updates-list-holder gift-holders-home">
                <ul id="db-updates-list" class="db-updates-list"></ul>
            </div>
            <div class="db-updates-list-footer gift-footer-home"></div>
        </section>
    </div>

    <div class="col-sm-6">
        <!-- Contacts section -->
        <section class="contacts-info-container gift-containers-home">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contacts-collaborations-container">
                        <div class="contacts-collaborations-header">
                            <h3 class="contacts-collaborations-header title">{{contacts_collaborations_title}}</h3>

                        </div>
                        <div class="contacts-collaborations-holder">
                            <div class="slider-holder gift-holders-home">

                                <div class="swiper-header-container">
                                    <!--<div class="events-info">-->
                                    <!--<p>10/08/2015</p>-->
                                    <!--<h2>FAO/WHO Global Individual Foodconsumption</h2>-->
                                    <!--<span>This is the news</span><br>-->
                                    <!--<a class="btn btn-default" href="#" role="button">View details »</a>-->

                                    <!--</div>-->

                                    <div id='gift-contributors' class="swiper-container">
                                        <div class="swiper-wrapper">

                                            <div class="swiper-slide home-event red-slide">
                                            <h2>FAO Head Quarters</h2>

                                            <p>ESN - Nutrition Division:
                                                Catherine Leclercq and Pauline Allemand are currently designing the tool, with the collaboration of Ruth Charrondière in terms of link with food composition data and in collaboration with Yvette Fautsch and Yenory for the qualitative surveys related to the participatory development of the tool
                                                ESS - Statistics Division:
                                                Fabio Grita and his team (Francesca Rosa, Fabrizio Castelli, Nicola Selleri, Daniele Salvatore and Ivano Cortesini) are currently developing the data management system and dissemination platform. There is also a current collaboration with Piero Conforti and Nathalie Troubat to develop nutrition indicators that are common to  individual and household surveys
                                                AGDF - Food Safety and Quality Unit:
                                                Markus Lipp, Mary Kenny, Sarah Cahill and Jean Charles Leblanc are currently collaborating to the selection of indicators in the field of food safety</p>
                                        </div>

                                        <div class="swiper-slide home-event red-slide">
                                            <h2>WHO Head Quarters</h2>

                                            <p>Department of Food Safety and Zoonoses:
                                                Philippe Verger is currently collaborating in all phases of the design of the tool.  FAO/WHO GIFT is developed in synergy with the development of FAO/WHO CIFOCOss (Chronic Individual Food Consumption – Summary Statistics) which is developed under the responsibility of Philippe Verger.
                                                Nutrition Department:
                                                Francesco Branca is regularly updated on FAO/WHO GIFT development to ensure that the tool will also help WHO in serving countries within WHO specific area of work </p>
                                        </div>


                                        <div class="swiper-slide home-event red-slide">
                                            <h2>European Food Safety Authority (EFSA)</h2>

                                            <p>Francesco Vernazza has updated the food categorization system developed by EFSA (FoodEx2) so that it can serve global purposes and be used in FAO/WHO GIFT. Advice is being sought from Davide Arcella in relation to the link with food composition data and from Stefano Cappe in relation to the dissemination platform</p>
                                        </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>HarvestPlus</h2>
                                                <p>Mourad Moursi has facilitated the preparation and sharing of the 4 HarvestPlus datasets that are included in the pilot FAO/WHO GIFT</p>

                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>Tufts University – Global Dietary Database - Bill and Melinda Gates Foundation</h2>

                                                <p>Tufts University (Jennifer Coates) coordinates the INDDEX project funded by Bill and Melinda Gates Foundation. This project includes activities aimed at developing FAO/WHO GIFT. The tool is developed in synergy with the Global Dietary Database (GDD) team led by Dariush Mozaffarian (Dean of the Tufts University Friedman School of Nutrition Science & Policy) </p>
                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>International  Agency for Research on Cancer (IARC)</h2>
                                                <p>AO/WHO GIFT is developed in synergy with the team of Nadia Slimani, responsible for Globodiet, a computerised software for the collection of 24 h recall developed by IARC</p>

                                            </div>



                                        </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>

                        </div>
                        <div class="contacts-collaborations-footer"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="contacts-people-container">
                        <div class="contacts-people-header">
                            <h3 class="contacts-people-header title">{{contacts_people_title}}</h3>
                        </div>
                        <div class="contacts-people-holder">
                            <h3>FAO NUTRITION DIVISION</h3>

                            <p>Viale delle Terme di Caracalla<br>
                                00153 Rome, Italy</p>


                            <p>Headquarters<br>
                                Viale delle Terme di Caracalla<br>
                                00153 Rome, Italy<br>
                                Tel:(+39) 06 57051<br>
                                e-mail：FAO-HQ@fao.org</p>

                            <p>General media inquiries<br>
                                Tel: (+39) 06 570 53625<br>
                                e-mail: FAO-Newsroom@fao.org</p>

                        </div>
                        <div class="contacts-people-footer"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br><br><br><br>