<h1 class="main-title">{{home_welcome_title}}</h1><h2 class="prototype">PROTOTYPE</h2>

<div class="row">

    <!-- Slider section-->
    <div class="col-sm-6">
        <section class="gift-containers-sliders-home">


            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {{#each slides}}
                        <li data-target="#carousel-example-generic"
                            data-slide-to={{isI18n data_link}} class={{isI18n active_link}}></li>
                    {{/each}}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {{#each slides}}
                        <div class="{{{ isI18n class_item }}}">


                            <div style="background-image: url({{isI18n src}})" class="home-gallery-item"></div>

                            <div class="carousel-caption">

                            </div>
                        </div>
                    {{/each}}

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

        </section>
    </div>

    <!-- Fast link section-->
    <div class="col-sm-6">
        <section class="fast-link-container gift-containers-sliders-home">
            <div class="fast-link-header gift-headers-home"><h3 class="slider-header title"><span
                    class="icojam_flash2"></span> {{fast_link_title}}</h3>
            </div>
            <div class="fast-link-holder gift-holders-home">
                <div class="row">
                    <div class="col-sm-6 home-tiles food-cons">
                        <a href="{{  link_food_consumption }}"
                           target="_blank"><h2><span class="icojam_plate_1"> </span><br> {{  title_food_consumption }}
                        </h2></a>
                    </div>
                    <div class="col-sm-6  home-tiles food-safe">
                        <a href="{{  link_food_safety }}"
                           target="_blank"><h2><span class="icojam_chemistry_2"></span> <br> {{  title_food_safety }}
                        </h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6  home-tiles food-nutr">
                        <a href="{{  link_food_nutrition }}"
                           target="_blank"><h2><span class="growing-ico"></span> {{  title_food_nutrition }}</h2>
                        </a>
                    </div>
                    <div class="col-sm-6  home-tiles food-envi ">
                        <a href="{{  link_food_environment }}"
                           target="_blank" class="coming"><h2><span class="icojam_geography_globe"></span>
                            <br> {{  title_food_environment }}</h2></a>
                    </div>
                </div>
            </div>
            <div class="fast-link-footer gift-footer-home"></div>
        </section>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-6">
        <!-- Db updates section -->
        <section class="db-updates-container gift-containers-home">
            <div class="db-updates-header gift-headers-home">
                <h3 class="title">{{database_update_title}}</h3>
            </div>
            <div class="db-updates-list-holder gift-holders-home">
                <ul id="db-updates-list" class="db-updates-list"></ul>
            </div>
            <div class="db-updates-list-footer gift-footer-home"></div>
        </section>
    </div>

    <div class="col-sm-6">
        <!-- Contacts section -->
        <section class="contacts-info-container gift-containers-home">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contacts-collaborations-container">
                        <div class="contacts-collaborations-header">
                            <h3 class="contacts-collaborations-header title">{{contacts_collaborations_title}}</h3>

                        </div>
                        <div class="contacts-collaborations-holder">
                            <div class="slider-holder gift-holders-home">

                                <div class="swiper-header-container">
                                    <!--<div class="events-info">-->
                                    <!--<p>10/08/2015</p>-->
                                    <!--<h2>FAO/WHO Global Individual Foodconsumption</h2>-->
                                    <!--<span>This is the news</span><br>-->
                                    <!--<a class="btn btn-default" href="#" role="button">View details »</a>-->

                                    <!--</div>-->

                                    <div id='gift-contributors' class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide home-event red-slide">
                                                <h2>FAO Head Quarters ESN</h2>

                                                <p>In the Nutrition Division (ESN), the leading team consists of
                                                    Catherine Leclercq and Pauline Allemand; Ruth Charrondière provides
                                                    advice on the link between food consumption and food composition
                                                    data; Yvette Fautsch and Yenory Hernandez Garbanzo provided advice
                                                    on the data collection methods for the participatory development of
                                                    the tool.</p>

                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>FAO Head Quarters ESS</h2>

                                                <p>In the Statistics Division (ESS), Fabio Grita and his team are in
                                                    charge of the development of the data management system and of the
                                                    web-dissemination software; Nathalie Troubat, Ana Moltedo and
                                                    Filippo Gheri work under the leadership of Piero Conforti and in
                                                    coordination with ESN on the development of a common pool of
                                                    nutrition indicators that can be derived from surveys performed at
                                                    household and individual level.</p>
                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>FAO Head Quarters AGDF</h2>

                                                <p>In the Food Safety and Quality Unit (AGDF), Markus Lipp and
                                                    colleagues are supporting the development of the tool by providing
                                                    advice and are involved in the selection of indicators in the field
                                                    of food safety.</p>
                                            </div>


                                            <div class="swiper-slide home-event red-slide">
                                                <h2>WHO Head Quarters</h2>

                                                <p>In WHO Head Quarters, two departments are involved:
                                                    Philippe Verger, in the Department of Food Safety and Zoonoses
                                                    (FOS), collaborates actively to the development of the FAO/WHO GIFT
                                                    through weekly calls with the ESN leading team.
                                                    In addition, FAO has regular meetings with Francesco Branca,
                                                    Director of the Department of Nutrition for Health and Development
                                                    (NHD), to get feedback and advice on the tool development </p>
                                            </div>


                                            <div class="swiper-slide home-event red-slide">
                                                <h2>European Food Safety Authority (EFSA)</h2>

                                                <p>The European Food Safety Authority (EFSA) is a key partner within the
                                                    FAO/WHO GIFT project. The FAO and WHO teams worked with the Evidence
                                                    Management Unit (DATA), in particular with Francesco Vernazza to
                                                    scale up the EFSA food categorization and description system named
                                                    FoodEx2 at the global level; advice is also provided by Davide
                                                    Arcella and Stefano Cappé in relation to the web-dissemination
                                                    software.</p>
                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>HarvestPlus</h2>

                                                <p>HarvestPlus, through Mourad Moursi, provided the microdata related to
                                                    datasets of individual food consumption survey from Bangladesh,
                                                    Burkina Faso, Philippines and Uganda which were used to develop the
                                                    pilot FAO/WHO GIFT.</p>

                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>Tufts University – Global Dietary Database - Bill and Melinda Gates
                                                    Foundation</h2>

                                                <p>The International Dietary Data Expansion (INDDEX) Project (2015-2018)
                                                    involves activities for the development of FAO/WHO GIFT and is
                                                    coordinated by Jennifer Coates with funding from Tufts University’s
                                                    Gerald J. and Dorothy R. Friedman School of Nutrition Science and
                                                    Policy.
                                                    The Global Dietary Database (GDD), at Tufts University, is developed
                                                    by the Global Nutrition and Policy Consortium, led by Dariush
                                                    Mozaffarian, informing the Global Burden of Diseases Study.
                                                    Both projects received grants from the Bill & Melinda Gates
                                                    Foundation.</p>
                                            </div>

                                            <div class="swiper-slide home-event red-slide">
                                                <h2>International Agency for Research on Cancer (IARC)</h2>

                                                <p>The Global nutrition surveillance initiative (GloboDiet), using an
                                                    international computerized software for the collection of 24 h
                                                    recalls, is developed by Nadia Slimani, Dietary Exposure Assessment
                                                    Group (DEX), at the International Agency for Research on Cancer
                                                    (IARC-WHO).</p>

                                            </div>


                                        </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>

                        </div>
                        <div class="contacts-collaborations-footer"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="contacts-people-container">
                        <div class="contacts-people-header">
                            <h3 class="contacts-people-header title">{{contacts_people_title}}</h3>
                        </div>
                        <div class="contacts-people-holder">
                            <h3>FAO NUTRITION DIVISION</h3>

                            <p>Viale delle Terme di Caracalla<br>
                                00153 Rome, Italy</p>


                            <p>Headquarters<br>
                                Viale delle Terme di Caracalla<br>
                                00153 Rome, Italy<br>
                                Tel:(+39) 06 57051<br>
                                e-mail：FAO-HQ@fao.org</p>

                            <p>General media inquiries<br>
                                Tel: (+39) 06 570 53625<br>
                                e-mail: FAO-Newsroom@fao.org</p>

                        </div>
                        <div class="contacts-people-footer"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br><br><br><br>