<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-sm-8">
        <!--{{text}}-->

        <img src="src/images/FAO_sede.jpg" class="img-responsive">

        <h2>{{title_background}}</h2>

        <p>{{background_first_line}}</p>


        <p>{{background_second_line}}</p>

        <p>{{background_third_line}}</p>

        <h2>{{objective_title}}</h2>


        <p>{{objective_body}}</p>


        <br><br>

    </div>
    <div class="col-sm-4">
        <div class="sidebar-box">
            <h3>KEY DOCUMENTS</h3>

            <div class="sidebar-box-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Cras convallis ultricies imperdie</li>
                    <li>Morbi euismod, orci</li>
                    <li>Pellentesque imperdiet</li>
                    <li>Etiam hendrerit congue</li>
                </ul>

            </div>

        </div>


        <div class="sidebar-box">
            <h3>CONTACT US</h3>

            <div class="sidebar-box-content">
                <h3>Contributors</h3>

                <br>
                <div class="row">
                   <div class="col-xs-12">
                       <ul class="list-unstyled collaborators-list">

                               <li> FAO AGDF, ESN, ESS</li>
                               <li> WHO Department of Nutrition, Department of Food safety and Zoonoses</li>
                               <li> EFSA</li>
                               <li> Harvest Plus</li>
                               <li> BMGF</li>
                               <li> Tufts University</li>
                               <li> GDD</li>
                               <li> IARC    </li>

                       </ul>

                   </div>


                </div>
                




            </div>


        </div>


    </div>
</div>

<br><br><br><br>