<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-sm-8">
        <!--{{text}}-->

        <img src="src/images/home_pictures/3.jpg" class="img-responsive">

        <h2>{{title_background}}</h2>

        <p>{{background_first_line}}</p>


        <p>{{background_second_line}}</p>

        <p>{{background_third_line}}</p>

        <h2>{{objective_title}}</h2>


        <p>{{objective_body}}</p>


    </div>
    <div class="col-sm-4">
        <div class="sidebar-box">
            <h3>{{key_documents.title}}</h3>
            <div class="sidebar-box-content">
                <ul>
                    {{#each key_documents.document_list}}
                    <li>{{document}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>


        <div class="sidebar-box">
            <h3>{{contact_us.title}}</h3>

            <div class="sidebar-box-content">
                <h3>{{contact_us.division}}</h3>

                <br>
                <div class="row">
                    <div class="col-sm-6 user-container">
                        <div class="user-image">
                            <div class="profile"  id="pauline-profile"></div>
                            <h3>{{contact_us.pauline_info.name}}</h3>

                            <p>{{contact_us.pauline_info.job_desc}}</p>

                            <p class="division">{{contact_us.pauline_info.division}}</p>
                        </div>
                    </div>

                    <div class="col-sm-6 user-container">
                        <div class="user-image">
                            <div class="profile" id="catherine-profile"></div>
                            <h3>{{contact_us.catherine_info.name}}</h3>

                            <p>{{contact_us.catherine_info.job_desc}}</p>

                            <p class="division">{{contact_us.catherine_info.division}}</p>
                        </div>
                    </div>


                </div>
                <br><br>


                <p>{{{find_in.address}}}</p>


                <p>{{{find_in.hq_address}}}</p>

                <p>{{{find_in.other_info}}}</p>

                <br>


            </div>


        </div>


    </div>
</div>

<br><br><br><br>