{{#each elements_1}}

    <h3>{{title}}</h3>
    {{#each indicators}}<br><br>
        <dl class="dl-horizontal">
            <dt class="indicator-title">Indicator</dt>
            <dd>{{indicator}}</dd>
            <dt class="indicator-title">Gender</dt>
            <dd>{{Gender}}</dd>
            <dt class="indicator-title">Age range</dt>
            <dd>{{Age_range}}</dd>
            <dt class="indicator-title">Survey</dt>
            <dd>{{Survey}}</dd>
        </dl>
            <div class="row">
                <div class="col-xs-12" >
                    <div id={{id}}></div>
                </div>
            </div>
        <br><br><br>
    {{/each}}

{{/each}}


{{#each elements_2}}

    {{#each indicators}}<br><br>
        <dl class="dl-horizontal">
            <dt class="indicator-title">Indicator</dt>
            <dd>{{indicator}}</dd>
            <dt class="indicator-title">Gender</dt>
            <dd>{{Gender}}</dd>
            <dt class="indicator-title">Age range</dt>
            <dd>{{Age_range}}</dd>
            <dt class="indicator-title">Survey</dt>
            <dd>{{Survey}}</dd>
        </dl>
    <div class="row">
        <div class="col-xs-12" >
            <img class="img-responsive" src={{src}}>
        </div>
    </div>
        <br><br><br>
    {{/each}}

{{/each}}

    <div class="row">
        <div class="col-xs-12">
            <p class="indicator-title">Comments</p>
            <p class="indicator-value">{{comments}}</p>
        </div>
    </div><hr><br>

