{{#each elements}}

    <h3>{{title}}</h3>
    {{#each indicators}}
        <dl class="dl-horizontal">
            <dt class="indicator-title">Indicator</dt>
            <dd>{{indicator}}</dd>
            <dt class="indicator-title">Gender</dt>
            <dd>{{Gender}}</dd>
            <dt class="indicator-title">Age range</dt>
            <dd>{{Age_range}}</dd>
            <dt class="indicator-title">Survey</dt>
            <dd>{{Survey}}</dd>
        </dl>
        {{#each images}}
            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive" src={{src}}>
                </div>
            </div><br>
        {{/each}}
    {{/each}}
    <div class="row">
        <div class="col-xs-12">
            <p class="indicator-title">Comments</p>
            <p class="indicator-value">{{comments}}</p>
        </div>
    </div><hr><br>
{{/each}}
<!--

<div id="share-energy-table"></div>
<div id="share-energy-chart"></div>
<div id="mdd-table"></div>
<div id="mdd-histogram"></div>
<div id="ground-consumption-table-female"></div>
<div id="ground-consumption-chart-female"></div>
<div id="ground-consumption-table-both"></div>
<div id="ground-consumption-chart-both"></div>-->
