<h3>{{element_1.title}}</h3>
{{#each element_1.indicators}}
    <dl class="dl-horizontal">
        <dt class="indicator-title">Indicator</dt>
        <dd>{{indicator}}</dd>
        <dt class="indicator-title">Gender</dt>
        <dd>{{Gender}}</dd>
        <dt class="indicator-title">Age range</dt>
        <dd>{{Age_range}}</dd>
        <dt class="indicator-title">Survey</dt>
        <dd>{{Survey}}</dd>
    </dl>

    <div class="row">
        <div class="col-xs-6">
            <div id={{id_table}}></div>
        </div>
        <div class="col-xs-6">
            <div id={{id_chart}}></div>
        </div>
    </div><br><br>

{{/each}}
<div class="row">
    <div class="col-xs-12">
        <p class="indicator-title">Comments</p>

        <p class="indicator-value">{{element_1.comments}}</p>
    </div>
</div>
<hr><br>

<h3>{{element_2.title}}</h3>
{{#each element_2.indicators}}
    <dl class="dl-horizontal">
        <dt class="indicator-title">Indicator</dt>
        <dd>{{indicator}}</dd>
        <dt class="indicator-title">Gender</dt>
        <dd>{{Gender}}</dd>
        <dt class="indicator-title">Age range</dt>
        <dd>{{Age_range}}</dd>
        <dt class="indicator-title">Survey</dt>
        <dd>{{Survey}}</dd>
    </dl>

    <div class="row">
        <div class="col-xs-6">
            <div id={{id_table}}></div>
        </div>
        <div class="col-xs-6">
            <div id={{id_chart}}></div>
        </div>

    </div><br><br>

{{/each}}


{{#each element_3.indicators}}
    <dl class="dl-horizontal">
        <dt class="indicator-title">Indicator</dt>
        <dd>{{indicator}}</dd>
        <dt class="indicator-title">Gender</dt>
        <dd>{{Gender}}</dd>
        <dt class="indicator-title">Age range</dt>
        <dd>{{Age_range}}</dd>
        <dt class="indicator-title">Survey</dt>
        <dd>{{Survey}}</dd>
    </dl>

    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src={{src}}>
        </div>

    </div><br><br>

{{/each}}
<div class="row">
    <div class="col-xs-12">
        <p class="indicator-title">Comments</p>

        <p class="indicator-value">{{tot_comment}}</p>
    </div>
</div>
<hr><br>

